<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="elu.dao.CarModelMapper" >
  <resultMap id="BaseResultMap" type="elu.model.CarModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FIRST_LETTER" property="firstLetter" jdbcType="VARCHAR" />
    <result column="MAKE_NAME" property="makeName" jdbcType="VARCHAR" />
    <result column="MODEL_SERIES" property="modelSeries" jdbcType="VARCHAR" />
    <result column="MODEL_NAME" property="modelName" jdbcType="VARCHAR" />
    <result column="TYPE_SERIES" property="typeSeries" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="TECHNOLOGY" property="technology" jdbcType="VARCHAR" />
    <result column="VEHICLE_CLASS" property="vehicleClass" jdbcType="VARCHAR" />
    <result column="ENGINE_CAPACITY" property="engineCapacity" jdbcType="VARCHAR" />
    <result column="TRANSMISSION" property="transmission" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FIRST_LETTER, MAKE_NAME, MODEL_SERIES, MODEL_NAME, TYPE_SERIES, TYPE_NAME, COUNTRY, 
    TECHNOLOGY, VEHICLE_CLASS, ENGINE_CAPACITY, TRANSMISSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_model
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_model
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="elu.model.CarModel" >
    insert into car_model (ID, FIRST_LETTER, MAKE_NAME, 
      MODEL_SERIES, MODEL_NAME, TYPE_SERIES, 
      TYPE_NAME, COUNTRY, TECHNOLOGY, 
      VEHICLE_CLASS, ENGINE_CAPACITY, TRANSMISSION
      )
    values (#{id,jdbcType=INTEGER}, #{firstLetter,jdbcType=VARCHAR}, #{makeName,jdbcType=VARCHAR}, 
      #{modelSeries,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{typeSeries,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{technology,jdbcType=VARCHAR}, 
      #{vehicleClass,jdbcType=VARCHAR}, #{engineCapacity,jdbcType=VARCHAR}, #{transmission,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="elu.model.CarModel" >
    insert into car_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="firstLetter != null" >
        FIRST_LETTER,
      </if>
      <if test="makeName != null" >
        MAKE_NAME,
      </if>
      <if test="modelSeries != null" >
        MODEL_SERIES,
      </if>
      <if test="modelName != null" >
        MODEL_NAME,
      </if>
      <if test="typeSeries != null" >
        TYPE_SERIES,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="technology != null" >
        TECHNOLOGY,
      </if>
      <if test="vehicleClass != null" >
        VEHICLE_CLASS,
      </if>
      <if test="engineCapacity != null" >
        ENGINE_CAPACITY,
      </if>
      <if test="transmission != null" >
        TRANSMISSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstLetter != null" >
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="makeName != null" >
        #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="modelSeries != null" >
        #{modelSeries,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="typeSeries != null" >
        #{typeSeries,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="technology != null" >
        #{technology,jdbcType=VARCHAR},
      </if>
      <if test="vehicleClass != null" >
        #{vehicleClass,jdbcType=VARCHAR},
      </if>
      <if test="engineCapacity != null" >
        #{engineCapacity,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null" >
        #{transmission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="elu.model.CarModel" >
    update car_model
    <set >
      <if test="firstLetter != null" >
        FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="makeName != null" >
        MAKE_NAME = #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="modelSeries != null" >
        MODEL_SERIES = #{modelSeries,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null" >
        MODEL_NAME = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="typeSeries != null" >
        TYPE_SERIES = #{typeSeries,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="technology != null" >
        TECHNOLOGY = #{technology,jdbcType=VARCHAR},
      </if>
      <if test="vehicleClass != null" >
        VEHICLE_CLASS = #{vehicleClass,jdbcType=VARCHAR},
      </if>
      <if test="engineCapacity != null" >
        ENGINE_CAPACITY = #{engineCapacity,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null" >
        TRANSMISSION = #{transmission,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="elu.model.CarModel" >
    update car_model
    set FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR},
      MAKE_NAME = #{makeName,jdbcType=VARCHAR},
      MODEL_SERIES = #{modelSeries,jdbcType=VARCHAR},
      MODEL_NAME = #{modelName,jdbcType=VARCHAR},
      TYPE_SERIES = #{typeSeries,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      TECHNOLOGY = #{technology,jdbcType=VARCHAR},
      VEHICLE_CLASS = #{vehicleClass,jdbcType=VARCHAR},
      ENGINE_CAPACITY = #{engineCapacity,jdbcType=VARCHAR},
      TRANSMISSION = #{transmission,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>