<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="elu.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="elu.model.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="car_lord" property="carLord" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="BIGINT" />
    <result column="reg_img" property="regImg" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="is_stop" property="isStop" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, car_no, brand, car_lord, reg_time, reg_img, car_type, status, create_time, 
    is_stop,remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="elu.model.Car" >
    insert into car (id, user_id, car_no, 
      brand, car_lord, reg_time, 
      reg_img, car_type, status, 
      create_time, is_stop,remark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{carNo,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{carLord,jdbcType=VARCHAR}, #{regTime,jdbcType=BIGINT}, 
      #{regImg,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{isStop,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="elu.model.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="carLord != null" >
        car_lord,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="regImg != null" >
        reg_img,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isStop != null" >
        is_stop,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="carLord != null" >
        #{carLord,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=BIGINT},
      </if>
      <if test="regImg != null" >
        #{regImg,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isStop != null" >
        #{isStop,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="elu.model.Car" >
    update car
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="carLord != null" >
        car_lord = #{carLord,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=BIGINT},
      </if>
      <if test="regImg != null" >
        reg_img = #{regImg,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isStop != null" >
        is_stop = #{isStop,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
       remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="elu.model.Car" >
    update car
    set user_id = #{userId,jdbcType=INTEGER},
      car_no = #{carNo,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      car_lord = #{carLord,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=BIGINT},
      reg_img = #{regImg,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      is_stop = #{isStop,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
    <select id="queryCarBrandList"  resultType="elu.model.CarInfo" >
         SELECT  DISTINCT t.FIRST_LETTER firstLetter,t.MAKE_NAME makeName from car_type t 
    </select>
    
    <select id="queryCarTypeList"  resultType="elu.model.CarInfo"  parameterType="string" >
       select t.FIRST_LETTER firstLetter,t.MAKE_NAME modelName, t.MODEL_NAME makeName from car_type t where t.make_name  =  #{makeName}
    </select>
  <select id="selectByValue" resultMap="BaseResultMap" parameterType="hashmap" >
    select
    <include refid="Base_Column_List" />
    from car
    where 1=1
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="carNo != null" >
        and car_no = #{carNo,jdbcType=VARCHAR}
      </if>
      <if test="brand != null" >
        and brand = #{brand,jdbcType=VARCHAR}
      </if>
      <if test="carLord != null" >
        and car_lord = #{carLord,jdbcType=VARCHAR}
      </if>
      <if test="regTime != null" >
        and reg_time = #{regTime,jdbcType=BIGINT}
      </if>
      <if test="regImg != null" >
        and reg_img = #{regImg,jdbcType=VARCHAR}
      </if>
      <if test="carType != null" >
        and car_type = #{carType,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=BIGINT}
      </if>
      <if test="isStop != null" >
        and is_stop = #{isStop,jdbcType=INTEGER}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
  </select>
</mapper>