<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="elu.dao.DriverRecordMapper" >
  <resultMap id="BaseResultMap" type="elu.model.DriverRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="d_start" property="dStart" jdbcType="VARCHAR" />
    <result column="d_start_str" property="dStartStr" jdbcType="VARCHAR" />
    <result column="d_end" property="dEnd" jdbcType="VARCHAR" />
    <result column="d_end_str" property="dEndStr" jdbcType="VARCHAR" />
    <result column="d_count" property="dCount" jdbcType="INTEGER" />
    <result column="d_date" property="dDate" jdbcType="BIGINT" />
    <result column="d_price" property="dPrice" jdbcType="DOUBLE" />
    <result column="d_remark" property="dRemark" jdbcType="VARCHAR" />
    <result column="d_status" property="dStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, car_id, d_start, d_start_str, d_end, d_end_str, d_count, d_date, d_price, 
    d_remark, d_status, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="elu.model.DriverRecord" >
    insert into driver_record (id, user_id, car_id, 
      d_start, d_start_str, d_end, 
      d_end_str, d_count, d_date, 
      d_price, d_remark, d_status, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, 
      #{dStart,jdbcType=VARCHAR}, #{dStartStr,jdbcType=VARCHAR}, #{dEnd,jdbcType=VARCHAR}, 
      #{dEndStr,jdbcType=VARCHAR}, #{dCount,jdbcType=INTEGER}, #{dDate,jdbcType=BIGINT}, 
      #{dPrice,jdbcType=DOUBLE}, #{dRemark,jdbcType=VARCHAR}, #{dStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="elu.model.DriverRecord" >
    insert into driver_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="dStart != null" >
        d_start,
      </if>
      <if test="dStartStr != null" >
        d_start_str,
      </if>
      <if test="dEnd != null" >
        d_end,
      </if>
      <if test="dEndStr != null" >
        d_end_str,
      </if>
      <if test="dCount != null" >
        d_count,
      </if>
      <if test="dDate != null" >
        d_date,
      </if>
      <if test="dPrice != null" >
        d_price,
      </if>
      <if test="dRemark != null" >
        d_remark,
      </if>
      <if test="dStatus != null" >
        d_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="dStart != null" >
        #{dStart,jdbcType=VARCHAR},
      </if>
      <if test="dStartStr != null" >
        #{dStartStr,jdbcType=VARCHAR},
      </if>
      <if test="dEnd != null" >
        #{dEnd,jdbcType=VARCHAR},
      </if>
      <if test="dEndStr != null" >
        #{dEndStr,jdbcType=VARCHAR},
      </if>
      <if test="dCount != null" >
        #{dCount,jdbcType=INTEGER},
      </if>
      <if test="dDate != null" >
        #{dDate,jdbcType=BIGINT},
      </if>
      <if test="dPrice != null" >
        #{dPrice,jdbcType=DOUBLE},
      </if>
      <if test="dRemark != null" >
        #{dRemark,jdbcType=VARCHAR},
      </if>
      <if test="dStatus != null" >
        #{dStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="elu.model.DriverRecord" >
    update driver_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="dStart != null" >
        d_start = #{dStart,jdbcType=VARCHAR},
      </if>
      <if test="dStartStr != null" >
        d_start_str = #{dStartStr,jdbcType=VARCHAR},
      </if>
      <if test="dEnd != null" >
        d_end = #{dEnd,jdbcType=VARCHAR},
      </if>
      <if test="dEndStr != null" >
        d_end_str = #{dEndStr,jdbcType=VARCHAR},
      </if>
      <if test="dCount != null" >
        d_count = #{dCount,jdbcType=INTEGER},
      </if>
      <if test="dDate != null" >
        d_date = #{dDate,jdbcType=BIGINT},
      </if>
      <if test="dPrice != null" >
        d_price = #{dPrice,jdbcType=DOUBLE},
      </if>
      <if test="dRemark != null" >
        d_remark = #{dRemark,jdbcType=VARCHAR},
      </if>
      <if test="dStatus != null" >
        d_status = #{dStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="elu.model.DriverRecord" >
    update driver_record
    set user_id = #{userId,jdbcType=INTEGER},
      car_id = #{carId,jdbcType=INTEGER},
      d_start = #{dStart,jdbcType=VARCHAR},
      d_start_str = #{dStartStr,jdbcType=VARCHAR},
      d_end = #{dEnd,jdbcType=VARCHAR},
      d_end_str = #{dEndStr,jdbcType=VARCHAR},
      d_count = #{dCount,jdbcType=INTEGER},
      d_date = #{dDate,jdbcType=BIGINT},
      d_price = #{dPrice,jdbcType=DOUBLE},
      d_remark = #{dRemark,jdbcType=VARCHAR},
      d_status = #{dStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectByValue" resultMap="BaseResultMap" parameterType="hashmap" >
    select 
    <include refid="Base_Column_List" />
    from driver_record
    where 1=1
    <if test="userId != null" >
       and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="carId != null" >
       and car_id = #{carId,jdbcType=INTEGER}
      </if>
      <if test="dStart != null" >
       and d_start like CONCAT(#{dStart},'%')
      </if>
      <if test="dEnd != null" >
        and d_end like CONCAT(#{dEnd},'%')
      </if>
      <if test="dCount != null" >
       and d_count = #{dCount,jdbcType=INTEGER}
      </if>
      <if test="startTime != null" >
       and d_date &gt;= #{startTime,jdbcType=BIGINT}
      </if>
      <if test="endTime != null" >
       and d_date &lt;= #{endTime,jdbcType=BIGINT}
      </if>
      <if test="dPrice != null" >
       and d_price = #{dPrice,jdbcType=DOUBLE}
      </if>
      <if test="dRemark != null" >
       and d_remark = #{dRemark,jdbcType=VARCHAR}
      </if>
      <if test="dStatus != null" >
       and d_status = #{dStatus,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=BIGINT}
      </if>
       order by create_time desc limit #{page,jdbcType=INTEGER},#{per,jdbcType=INTEGER}
  </select>
  
    <select id="queryDriverRecordMatchList" resultType="elu.model.DriverRecord">
  		select * from driver_record t where  t.d_start like  CONCAT(#{d_start},'%')  and t.d_end like  CONCAT(#{d_end},'%') 
		and str_to_date(from_unixtime(t.d_date),'%Y-%m-%d')  = str_to_date(from_unixtime(#{runtime}),'%Y-%m-%d')   
  </select>
</mapper>