<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="elu.dao.UserLicenceMapper" >
  <resultMap id="BaseResultMap" type="elu.model.UserLicence" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="licence_id" property="licenceId" jdbcType="VARCHAR" />
    <result column="licence_img" property="licenceImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id,real_name, licence_id, licence_img, status, create_time,remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_licence
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_licence
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="elu.model.UserLicence" >
    insert into user_licence (id, user_id,real_name,  licence_id, 
      licence_img, status, create_time,remark
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},#{realName,jdbcType=VARCHAR},  #{licenceId,jdbcType=VARCHAR}, 
      #{licenceImg,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT},#{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="elu.model.UserLicence" >
    insert into user_licence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="licenceId != null" >
        licence_id,
      </if>
      <if test="licenceImg != null" >
        licence_img,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="licenceId != null" >
        #{licenceId,jdbcType=VARCHAR},
      </if>
      <if test="licenceImg != null" >
        #{licenceImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="elu.model.UserLicence" >
    update user_licence
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        real_name =#{realName,jdbcType=VARCHAR},
      </if>
      <if test="licenceId != null" >
        licence_id = #{licenceId,jdbcType=VARCHAR},
      </if>
      <if test="licenceImg != null" >
        licence_img = #{licenceImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="elu.model.UserLicence" >
    update user_licence
    set user_id = #{userId,jdbcType=INTEGER},
    real_name =#{realName,jdbcType=VARCHAR},
      licence_id = #{licenceId,jdbcType=VARCHAR},
      licence_img = #{licenceImg,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_licence
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>